body {
  padding: 50px;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.setup {
  text-align: left;
  margin: auto;
  width: 50%;
  border: 1px solid #EAEAEA;
  padding: 20px;
}
